<p>A inscrição para Vaga Integral do aluno <strong>{{ enturmacao.matricula.nomeAluno }}</strong> foi deferida.</p>
<p>A partir de agora ele deve passar a frequentar a turma {{enturmacao.turma.nomeCompleto}} na
  {{enturmacao.matricula.unidadeEnsino.nomeCompleto}}</p>
<p>A unidade de ensino <strong>{{ enturmacao.matricula.unidadeEnsino.nomeCompleto}}</strong> deve avisar os pais
  imediatamente</p>
<br />
<p>Em caso de dúvida entrar em contato com a Diretoria de Ensino Infantil</p>