<p>A inscrição para Vaga Integral do aluno <strong>{{ enturmacao.matricula.nomeAluno }}</strong> foi deferida.</p>
<p>A partir de agora ele deve passar a frequentar a turma {{enturmacao.turma.nomeCompleto}} na
  {{enturmacao.matricula.unidadeEnsino.nomeCompleto}}</p>
<p>Os pais do aluno devem ser avisados imediatamente</p>
<br />
<p>Em caso de dúvida entrar em contato com a Diretoria de Ensino Infantil</p>